<div class="container">

  <!-- Luz ligado -->
  <div class="light" [class.on]="led1On">Ligado</div>

  @if (led1On) {
    <button (click)="turnOff(2)" class="btn">Ligado 1</button>
  } @else {
    <button (click)="turnOn(2)" class="btn">Desligado 1</button>
  }

  @if (led2On) {
    <button (click)="turnOff(4)" class="btn">Ligado 2</button>
  } @else {
    <button (click)="turnOn(4)" class="btn">Desligado 2</button>
  }

  @if (led3On) {
    <button (click)="turnOff(5)" class="btn">Ligado 3</button>
  } @else {
    <button (click)="turnOn(5)" class="btn">Desligado 3</button>
  }

  <h2>Definir Data</h2>

  <div class="campo">
    <label>Dia:</label>
    <input type="number" [(ngModel)]="dia">
  </div>

  <div class="campo">
    <label>Mês:</label>
    <input type="number" [(ngModel)]="mes">
  </div>

  <div class="campo">
    <label>Ano:</label>
    <input type="number" [(ngModel)]="ano">
  </div>

  <h2>Definir Horário</h2>

  <div class="campo">
    <label>Hora:</label>
    <input type="number" [(ngModel)]="hora">
  </div>

  <div class="campo">
    <label>Minuto:</label>
    <input type="number" [(ngModel)]="min">
  </div>

  <div class="campo">
    <label>Segundo:</label>
    <input type="number" [(ngModel)]="seg">
  </div>

  <button class="btn" (click)="enviarDataHora()">
    Enviar Data/Hora para ESP
  </button>

  <hr>

  <h2>Consultar Hora do ESP</h2>

  <button class="btn" (click)="lerHoraEsp()">
    Ler Hora do ESP
  </button>

  <div class="resultado">
    <h3>Hora recebida:</h3>
    <p>{{ horaRecebida }}</p>
  </div>

</div>