<div class="app-container">
  <header class="app-header">
    <h1>Controle de Irrigação</h1>
  </header>

  <div class="card">
    <div class="card-header bg-green">Motor / Válvula</div>
    <div class="card-body">
      
      <div class="icon-container green-text" style="display: inline-flex; gap: 1rem; padding-left: 0.5rem;">
        <img [src]="statusEsp.valvula_aberta ? 'assets/sprinkleron.gif' : 'assets/sprinkleroff.gif'" 
             alt="Status da Irrigação" 
             class="gif-irrigacao">

        <div style="display: grid; font-size: 0.825em; color: #555; text-align: left;">
          <span>Rede Hotspot: 
            <strong [style.color]="statusEsp.cliente_conectado ? '#1a73e8' : '#666'">
              {{ statusEsp.cliente_conectado ? 'Cliente conectado' : 'Ligada' }}
            </strong>
          </span>
          
          <span>Conexão Wi-Fi: 
            <strong [style.color]="statusEsp.conectado_internet ? '#28a745' : (statusEsp.conectado_wifi ? '#ff9800' : '#666')">
              {{ statusEsp.conectado_internet ? 'Conectado com internet' : (statusEsp.conectado_wifi ? 'Conectado' : 'Tentando conectar...') }}
            </strong>
          </span>
          
          <span>Relógio atualizado: 
            <strong [style.color]="statusEsp.relogio_atualizado ? '#1908af' : '#dc3545'">
              {{ statusEsp.relogio_atualizado ? 'Sim' : 'Não' }}
            </strong>
          </span>
        </div>
      </div>
      
      <div class="button-group">
        <button class="btn btn-success relative" 
                [disabled]="loadingAcw || loadingCw"
                (click)="acionarMotorProgresso('acw')">
          <span class="btn-text">{{ buttonTextLigar }}</span>
          <div class="progress-bar" [class.active-progress]="loadingAcw"></div>
        </button>

        <button class="btn btn-danger relative" 
                [disabled]="loadingAcw || loadingCw"
                (click)="acionarMotorProgresso('cw')">
          <span class="btn-text">{{ buttonTextDesligar }}</span>
          <div class="progress-bar" [class.active-progress]="loadingCw"></div>
        </button>
      </div>

      <div class="schedule-section">
        <div class="schedule-title">
          <img src="assets/time-management.png" alt="Agendamento">
          Agendamento Automático
        </div>
        <div class="schedule-controls">
          <div class="time-input">
            <label>Ligar às:</label>
            <input type="time" [(ngModel)]="horaLigar">
          </div>
          <div class="time-input">
            <label>Desligar às:</label>
            <input type="time" [(ngModel)]="horaDesligar">
          </div>
          
          <button class="btn-add" (click)="adicionarAgendamento()">
            <span class="material-icons">+</span>
          </button>
        </div>

        @if (agendamentosAgrupados.length > 0) {
          <div class="schedule-list">
            <ul>
              @for (par of agendamentosAgrupados; track par.idLigar) {
                <li class="pair-card">
                  <div class="pair-info">
                    <div class="time-row">
                      <span class="badge badge-green">LIGAR</span>
                      <strong>{{ par.hrLigar | number:'2.0-0' }}:{{ par.minLigar | number:'2.0-0' }}</strong>
                    </div>
                    <div class="time-row">
                      <span class="badge badge-red">DESLIGAR</span>
                      <strong>{{ par.hrDesligar | number:'2.0-0' }}:{{ par.minDesligar | number:'2.0-0' }}</strong>
                    </div>
                  </div>
                  <button class="btn-icon" (click)="deletarDupla(par.idLigar, par.idDesligar)">Excluir</button>
                </li>
              }
            </ul>
          </div>
        }
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header bg-gray">Relógio do Sistema (ESP32)</div>
    <div class="card-body">

      <div class="time-input" style="padding-bottom: 4px;">
          <label>SSID</label>
          <input type="text" [(ngModel)]="ssidEsp" style="text-align: left;"> 
        </div>
      <div class="grid-inputs-2">
        
        <div class="time-input">
          <label>Senha</label>
          <input type="text" step="1" [(ngModel)]="passEsp" style="text-align: left;">
        </div>
        <div style="display: flex; align-items: end;">
          <button class="btn btn-outline" (click)="atualizarWifi()">Atualizar WiFi</button>
        </div>
        
      </div>
      
      <div class="grid-inputs-2" style="border-top: 1px solid #f1f3f4;
    margin-top: 1rem;
    padding-top: 0.75rem;">
        <div class="time-input">
          <label>Data</label>
          <input type="date" [(ngModel)]="dataEsp"> 
        </div>
        <div class="time-input">
          <label>Hora</label>
          <input type="time" step="1" [(ngModel)]="horaEsp">
        </div>
      </div>
      

      <div class="button-group mt-16">
        <button class="btn btn-outline" (click)="enviarDataHora()">Sincronizar Relógio</button>
        <button class="btn btn-outline" (click)="lerHoraEsp()">Ler Hora Atual</button>
      </div>

      @if (horaRecebida) {
        <div class="result-box">
          <small>Hora no dispositivo:</small>
          <strong>{{ horaRecebida }}</strong>
        </div>
      }

      
    </div>
  </div>

</div>