<div class="app-container">
  <header class="app-header">
    <h1>Controle de Irrigação</h1>
  </header>

  <div class="card">
    <div class="card-header bg-green">Motor / Válvula</div>
    <div class="card-body">
      
      <div class="icon-container green-text">
        <img [src]="ultimoMotor === 'cw' ? 'assets/sprinkleron.gif' : 'assets/sprinkleroff.gif'" 
            alt="Status da Irrigação" 
            class="gif-irrigacao">
      </div>
      
      <div class="button-group">
        <!-- <button class="btn btn-success relative" 
                [disabled]="ultimoMotor === 'acw' || loadingAcw"
                (click)="acionarMotorProgresso('acw')">
          <span class="btn-text">LIGAR</span>
          <div class="progress-bar" [class.active-progress]="loadingCw"></div>
        </button>

        <button class="btn btn-danger relative" 
                [disabled]="ultimoMotor === 'cw' || loadingCw"
                (click)="acionarMotorProgresso('cw')">
          <span class="btn-text">DESLIGAR</span>
          <div class="progress-bar" [class.active-progress]="loadingAcw"></div>
        </button> -->
        <button class="btn btn-success relative" 
                (click)="acionarMotorProgresso('acw')">
          <span class="btn-text">LIGAR</span>
          <div class="progress-bar" [class.active-progress]="loadingCw"></div>
        </button>

        <button class="btn btn-danger relative" 
                (click)="acionarMotorProgresso('cw')">
          <span class="btn-text">DESLIGAR</span>
          <div class="progress-bar" [class.active-progress]="loadingAcw"></div>
        </button>
      </div>

      <div class="schedule-section">
        <div class="schedule-title">
          <img src="assets/time-management.png" alt="Agendamento">
          Agendamento Automático
        </div>
        <div class="schedule-controls">
          <div class="time-input">
            <label>Ligar às:</label>
            <input type="time" [(ngModel)]="horaLigar">
          </div>
          <div class="time-input">
            <label>Desligar às:</label>
            <input type="time" [(ngModel)]="horaDesligar">
          </div>
          
          <button class="btn-add" (click)="adicionarAgendamento()">
            <span class="material-icons">+</span>
          </button>
        </div>

        @if (agendamentosAgrupados.length > 0) {
          <div class="schedule-list">
            <ul>
              @for (par of agendamentosAgrupados; track par.idLigar) {
                <li class="pair-card">
                  <div class="pair-info">
                    <div class="time-row">
                      <span class="badge badge-green">LIGAR</span>
                      <strong>{{ par.hrLigar | number:'2.0-0' }}:{{ par.minLigar | number:'2.0-0' }}</strong>
                    </div>
                    <div class="time-row">
                      <span class="badge badge-red">DESLIGAR</span>
                      <strong>{{ par.hrDesligar | number:'2.0-0' }}:{{ par.minDesligar | number:'2.0-0' }}</strong>
                    </div>
                  </div>
                  <button class="btn-icon" (click)="deletarDupla(par.idLigar, par.idDesligar)">Excluir</button>
                </li>
              }
            </ul>
          </div>
        }
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header bg-gray">Relógio do Sistema (ESP32)</div>
    <div class="card-body">
      
      <div class="grid-inputs-2">
        <div class="time-input">
          <label>Data</label>
          <input type="date" [(ngModel)]="dataEsp"> 
        </div>
        <div class="time-input">
          <label>Hora</label>
          <input type="time" step="1" [(ngModel)]="horaEsp">
        </div>
      </div>
      <div class="grid-inputs-2">
        <div class="time-input">
          <label>SSID</label>
          <input type="text" [(ngModel)]="ssidEsp"> 
        </div>
        <div class="time-input">
          <label>Senha</label>
          <input type="text" step="1" [(ngModel)]="passEsp">
        </div>
      </div>

      <div class="button-group mt-16">
        <button class="btn btn-outline" (click)="enviarDataHora()">Sincronizar Relógio</button>
        <button class="btn btn-outline" (click)="atualizarWifi()">Atualizar WiFi</button>
        <button class="btn btn-outline" (click)="lerHoraEsp()">Ler Hora Atual</button>
      </div>

      @if (horaRecebida) {
        <div class="result-box">
          <small>Hora no dispositivo:</small>
          <strong>{{ horaRecebida }}</strong>
        </div>
      }
    </div>
  </div>

</div>